@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
}

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar customization for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b; 
}

::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}
